In [34]:
import sys
sys.path.append('./venv/lib/python3.7/site-packages')

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("results/top1000_links_202104.csv")
df

                                     site1                       site2  link
0       Department of Health (Philippines)  Philippine National Police   499
1       Department of Health (Philippines)              www.pna.gov.ph   317
2       Department of Health (Philippines)               confession.cc     0
3       Department of Health (Philippines)            news.abs-cbn.com   102
4       Department of Health (Philippines)             www.rappler.com    45
...                                    ...                         ...   ...
499495                       DTI Region 12         Power of Positivity     0
499496                       DTI Region 12            Iligan Covid Eoc     0
499497                        Cocol Carpio         Power of Positivity     0
499498                        Cocol Carpio            Iligan Covid Eoc     0
499499                 Power of Positivity            Iligan Covid Eoc     0

[499500 rows x 3 columns]

In [32]:
(
    df
    .groupby("link")
    .agg(freq=("link","count"))
#     .cumsum()
    .apply(lambda x: round(100*x/len(df),2),axis=1)
    .head(30)
)

       freq
link
0     90.65
1      4.47
2      1.58
3      0.80
4      0.50
5      0.34
6      0.25
7      0.19
8      0.15
9      0.12
10     0.09
11     0.08
12     0.07
13     0.06
14     0.05
15     0.04
16     0.04
17     0.04
18     0.03
19     0.03
20     0.03
21     0.03
22     0.03
23     0.02
24     0.02
25     0.02
26     0.02
27     0.02
28     0.01
29     0.01